@charset "ISO-8859-1";
.upload {
  margin-left: 450px;
 margin-top:50px;
  }
  
  h1{
  margin-left: 550px;

  }
  .search{
   margin-left: 450px;
 
  }
  
  .fullForm{
 }
  
#responseText{
	margin-left:550px;
}

